
@model BookStore.Models.BookViewModel

<td>
    @Html.DisplayFor(modelItem => Model.Title)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Author)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Price)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.ISBN)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.PublisherName)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.DatePublished)
</td>